/* Common Style */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

body{
  transition: all 0.5s ease-in-out;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  
}
main{
  padding: 0 84px;
} 
a{
  text-decoration: none;
  cursor: pointer;
  color: #000;

}
a:hover{
  text-decoration: underline;
}

li{
  margin:0 6px;
}
h2{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}
h3{
  font-size: 24px;
  font-weight: 700;
}
h4{
  font-size: 16px;
  font-weight: 600;
}
.display_list{
  border-top: 1px solid #c4c4c4;
  display: flex;
  margin-bottom: 48px;
  padding-top: 48px;
  width: 100%;
}

.rows__title{
  width: 50%;
}

.rows__description{
    width: 50%;
    height: max-content;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.tiny_center_start{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.dark_theme{
  background-color: #1a1a1a;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.dark_theme a{
  color: #fff;
}
.text_light{
  color: gray;
}


/* responsive */
@media screen and (max-width: 928px){
  .landing_container{
    flex-direction: column-reverse;
    align-items: center;
  }
  main{
    padding: 0 24px;
    align-items: center;
  }
  .display_list{
    flex-direction: column;
    align-items: start;
  }
  .landing_baseline{
    flex-direction: column;
  }
  .rows__title{
    width: 100%;
  }
  .tiny_center_start{
    align-items: center;
  }
  .display_footer{
    flex-direction: column-reverse;
    align-items: center;
  }
  .display_footer_list{
    /* center */
    padding: 0;
    margin-bottom: 0;

  }
}